.landing-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: var(--bg-color);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0 0 20px 0 #E6E8E6;
}

.landing-wrapper .width-wrapper {
  width: max(80vw, 70rem)
}

.text {
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.landing-content-wrapper {
  height: 100%;
  top: 0vh;
}

.background {
  position: absolute;
  top: 10vh;
  right: 0vh;
  /* border: 3px solid black; */
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 30px 0 grey;
  z-index: -1;
  background-color: white;
}

.background h2 {
  font-size: 15vw;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

.background s {
  color: #ff6b6c;
}

.main-wrapper {
  height: 200vh;
}

.main-wrapper .width-wrapper {
  height: 100%;
}

main {
  position: sticky;
  z-index: 1;
  top: 2rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  margin-top: 2rem;
  display: flex;
}

.main-content p {
  margin-right: 1rem;
}

.text-scroll {
  height: fit-content;
  width: fit-content;
  top: -20vh;
  text-align: center;
}