textarea {
  resize: none;
  height: 80vh;
  border-radius: 10px;
  font-family: var(--ff-paragraph);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.result {
  resize: none;
  height: 80vh;
  width: 50%;
  border-radius: 10px;
  font-family: var(--ff-paragraph);
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: white;
  border: 1px solid black;
}

main {
  display: flex;
  /* width: 50%; */
}

main form {
  width: 50%;
}